body{
    display: flex;
    flex-direction: row;
    size: 100vw;
}
#h1{
    background-color: black;
    height: 900px;
    width: 400px;
    min-width: 350px;
    min-height: 350px;
}
#h2{
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
}
#tx{
    margin-left: 5vw;
    font-size: 18px;
    word-break:keep-all;
    max-width: 600px;
}
#button{
    margin-left: 5vw;
    width: 20px;
    height:20px;
}
#sideimg{
    height: 100%;
    width: 100%;
}
.copy{
    position: absolute;
    margin: 0%;
}